<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h1>환영합니다, {{ request.user.name }}님!</h1>
        <p>닉네임: {{ request.user.nickname }}</p>
        <p>이메일: {{ request.user.email }}</p>
        
        
        <a href="{% url 'signup:logout' %}">로그아웃</a>
        <form action="{% url 'signup:delete_user' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">회원 탈퇴</button>
        </form>
    {% else %}
        <p>로그인하지 않으셨습니다.</p>
        <a href="{% url 'signup:login_home' %}">로그인</a>
    {% endif %}
</body>
</html>
